<h2>テスト</h2>
<form action="music" method="POST">
    <div>
        title:<input type="text" name="title">
    </div>
    <div>
        artist:<input type="text" name="artist">
    </div>
    <div>
        genre:<input type="text" name="genre">
    </div>
    <div>
        youtube url:<input type="text" name="url">
    </div>
    <div>
        <input type="submit" value="登録する">
    </div>
</form>