<p>
    <% @items.each do |item| %>
    <ul>
        <li><%= item.title %></li>
        <li><%= item.artist %></li>
        <li><%= item.genre %></li>
        <li><a href=<%= item.url %>>動画</a></a></li>
    </ul>
    <% end %>
</p>